h2, h3 {
    margin: 5px 10px;
}

h1 {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

h2 {
    border-bottom: 2px solid;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    padding: 1px 10px 1px 10px;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

.nav-bar {
    background-color: rgb(189, 189, 189);
}

.nav-bar ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav-element {
    display: inline-block;
    padding: 15px;
}

.nav-element:hover {
    background-color: gray;
}

#content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#main-title-box, .main-title-box {
    background-color: #6a00ff;
    margin: 5px 0;
}

#main-title, .main-title {
    color: rgb(50, 50, 50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body div:nth-child(odd) {
    background-color: #1ba1e2;
}

body div:nth-child(even) {
    background-color: #fa6800;
}

#funny-element {
    border: 1px solid purple;
    box-sizing: border-box;
    height: 250px;
    margin: 5px 3px 2px 7px;
    padding: 4px 3px 2px;
    width: 400px;
}

#columns {
    padding: 20px;
    margin: 20px;
    column-count: 3;
    column-gap: 2em;
    column-rule: 1px dotted;
}